.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-button {
  margin-right: 16px;
}
