.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-wrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.price {
  width: 100%;
  padding-left: 16px;
  text-align: right;
}
