.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 112px;
}
.header .container {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding 0.3s ease-in-out;
  background-color: white;
}
.header .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .container.scrolling {
  padding: 16px 32px;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.content .left {
  position: relative;
}
.content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 32px 32px 32px;
}
